body {
    text-align: center;
    background-color:blueviolet;
}
div{
    margin-top:15px;
}
.imagesection{
    display:flex;
    justify-content:center;
}
.sectionstyle{
    margin-right:25px;
    margin-left:25px;
    background-color:white;
}
#sprout{
    height:200px;
    width:200px;
}
#forest{    
    height:200px;
    width:200px;
}